code {
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  margin-block: 0;
  margin-inline: 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: var(--code-background);
  border: var(--code-border);
  border-radius: var(--border-radius);
}

pre > code {
  display: block;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  white-space: pre;
  overflow-x: auto;
}

@media (max-inline-size: 560px) {
  pre > code {
    white-space: nowrap;
  }
}
