/* Misc */

hr {
  margin-block-start: 3rem;
  margin-block-end: 3.5rem;
  border-width: 0;
  border-block-start: var(--hr);
}


/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
