button,
.button {
  margin-block-end: 1rem;
}

input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-block-end: 1rem;
}

p {
  margin-block-start: 0;
}

.alert {
  margin-block-end: 1rem;
}
