.table-responsive {
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding-block: 0.75rem;
  padding-inline: 1rem;
}

th {
  text-align: inline-start;
}

td {
  border-block-end: var(--td-border-bottom);
}

th:first-child,
td:first-child {
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

tr th {
    border-block-end: 1px solid #000;
}

@media (min-inline-size: 560px) {
  th:first-child,
  td:first-child {
    padding-inline-end: 1rem;
  }
}
